ContentServer/content_server_10_5/service/contentServer.webServices/cs-xml-service-ws/src/main/resources/XmlService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="urn:Core.service.livelink.opentext.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  name="XmlService" targetNamespace="urn:Core.service.livelink.opentext.com">
    <wsdl:types>
        <xsd:schema targetNamespace="urn:Core.service.livelink.opentext.com/Imports">
            <xsd:import schemaLocation="http://aw-dev-cs1.appworks.dev/cws/XmlService.svc?xsd=xsd0"
                        namespace="urn:Core.service.livelink.opentext.com"/>
            <xsd:import schemaLocation="http://aw-dev-cs1.appworks.dev/cws/XmlService.svc?xsd=xsd1"
                        namespace="urn:api.ecm.opentext.com"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ExportXmlRequest">
        <wsdl:part name="parameters" element="tns:ExportXml"/>
    </wsdl:message>
    <wsdl:message name="ExportXmlRequest_Headers">
        <wsdl:part xmlns:q1="urn:api.ecm.opentext.com" name="OTAuthentication" element="q1:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="ExportXmlResponse">
        <wsdl:part name="parameters" element="tns:ExportXmlResponse"/>
    </wsdl:message>
    <wsdl:message name="ExportXmlResponse_Headers">
        <wsdl:part xmlns:q2="urn:api.ecm.opentext.com" name="OTAuthentication" element="q2:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="ExportXmlContextRequest">
        <wsdl:part name="parameters" element="tns:ExportXmlContext"/>
    </wsdl:message>
    <wsdl:message name="ExportXmlContextRequest_Headers">
        <wsdl:part xmlns:q3="urn:api.ecm.opentext.com" name="OTAuthentication" element="q3:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="ExportXmlContextResponse">
        <wsdl:part name="parameters" element="tns:ExportXmlContextResponse"/>
    </wsdl:message>
    <wsdl:message name="ExportXmlContextResponse_Headers">
        <wsdl:part xmlns:q4="urn:api.ecm.opentext.com" name="OTAuthentication" element="q4:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="ImportXmlRequest">
        <wsdl:part name="parameters" element="tns:ImportXml"/>
    </wsdl:message>
    <wsdl:message name="ImportXmlRequest_Headers">
        <wsdl:part xmlns:q5="urn:api.ecm.opentext.com" name="OTAuthentication" element="q5:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="ImportXmlResponse">
        <wsdl:part name="parameters" element="tns:ImportXmlResponse"/>
    </wsdl:message>
    <wsdl:message name="ImportXmlResponse_Headers">
        <wsdl:part xmlns:q6="urn:api.ecm.opentext.com" name="OTAuthentication" element="q6:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="ImportXmlContextRequest">
        <wsdl:part name="parameters" element="tns:ImportXmlContext"/>
    </wsdl:message>
    <wsdl:message name="ImportXmlContextRequest_Headers">
        <wsdl:part xmlns:q7="urn:api.ecm.opentext.com" name="OTAuthentication" element="q7:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="ImportXmlContextResponse">
        <wsdl:part name="parameters" element="tns:ImportXmlContextResponse"/>
    </wsdl:message>
    <wsdl:message name="ImportXmlContextResponse_Headers">
        <wsdl:part xmlns:q8="urn:api.ecm.opentext.com" name="OTAuthentication" element="q8:OTAuthentication"/>
    </wsdl:message>
    <wsdl:portType name="XmlService">
        <wsdl:operation name="ExportXml">
            <wsdl:input wsaw:Action="urn:Core.service.livelink.opentext.com/ExportXml" name="ExportXmlRequest"
                        message="tns:ExportXmlRequest"/>
            <wsdl:output wsaw:Action="urn:Core.service.livelink.opentext.com/XmlService/ExportXmlResponse"
                         name="ExportXmlResponse" message="tns:ExportXmlResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ExportXmlContext">
            <wsdl:input wsaw:Action="urn:Core.service.livelink.opentext.com/ExportXmlContext"
                        name="ExportXmlContextRequest" message="tns:ExportXmlContextRequest"/>
            <wsdl:output wsaw:Action="urn:Core.service.livelink.opentext.com/XmlService/ExportXmlContextResponse"
                         name="ExportXmlContextResponse" message="tns:ExportXmlContextResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ImportXml">
            <wsdl:input wsaw:Action="urn:Core.service.livelink.opentext.com/ImportXml" name="ImportXmlRequest"
                        message="tns:ImportXmlRequest"/>
            <wsdl:output wsaw:Action="urn:Core.service.livelink.opentext.com/XmlService/ImportXmlResponse"
                         name="ImportXmlResponse" message="tns:ImportXmlResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ImportXmlContext">
            <wsdl:input wsaw:Action="urn:Core.service.livelink.opentext.com/ImportXmlContext"
                        name="ImportXmlContextRequest" message="tns:ImportXmlContextRequest"/>
            <wsdl:output wsaw:Action="urn:Core.service.livelink.opentext.com/XmlService/ImportXmlContextResponse"
                         name="ImportXmlContextResponse" message="tns:ImportXmlContextResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_XmlService" type="tns:XmlService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ExportXml">
            <soap:operation soapAction="urn:Core.service.livelink.opentext.com/ExportXml" style="document"/>
            <wsdl:input name="ExportXmlRequest">
                <soap:header message="tns:ExportXmlRequest_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ExportXmlResponse">
                <soap:header message="tns:ExportXmlResponse_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExportXmlContext">
            <soap:operation soapAction="urn:Core.service.livelink.opentext.com/ExportXmlContext" style="document"/>
            <wsdl:input name="ExportXmlContextRequest">
                <soap:header message="tns:ExportXmlContextRequest_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ExportXmlContextResponse">
                <soap:header message="tns:ExportXmlContextResponse_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ImportXml">
            <soap:operation soapAction="urn:Core.service.livelink.opentext.com/ImportXml" style="document"/>
            <wsdl:input name="ImportXmlRequest">
                <soap:header message="tns:ImportXmlRequest_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ImportXmlResponse">
                <soap:header message="tns:ImportXmlResponse_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ImportXmlContext">
            <soap:operation soapAction="urn:Core.service.livelink.opentext.com/ImportXmlContext" style="document"/>
            <wsdl:input name="ImportXmlContextRequest">
                <soap:header message="tns:ImportXmlContextRequest_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ImportXmlContextResponse">
                <soap:header message="tns:ImportXmlContextResponse_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="XmlService">
        <wsdl:port name="BasicHttpBinding_XmlService" binding="tns:BasicHttpBinding_XmlService">
            <soap:address location="http://aw-dev-cs1.appworks.dev/cws/XmlService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>