ContentServer/content_server_10_5/service/contentServer.webServices/cs-config-service-ws/src/main/resources/ConfigService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="urn:LesConfig.service.livelink.opentext.com"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="ConfigService"
                  targetNamespace="urn:LesConfig.service.livelink.opentext.com">
    <wsdl:types>
        <xsd:schema targetNamespace="urn:LesConfig.service.livelink.opentext.com/Imports">
            <xsd:import schemaLocation="http://aw-dev-cs1.appworks.dev/cws/ConfigService.svc?xsd=xsd0"
                        namespace="urn:LesConfig.service.livelink.opentext.com"/>
            <xsd:import schemaLocation="http://aw-dev-cs1.appworks.dev/cws/ConfigService.svc?xsd=xsd1"
                        namespace="urn:api.ecm.opentext.com"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetRequest">
        <wsdl:part name="parameters" element="tns:Get"/>
    </wsdl:message>
    <wsdl:message name="GetRequest_Headers">
        <wsdl:part xmlns:q1="urn:api.ecm.opentext.com" name="OTAuthentication" element="q1:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="GetResponse">
        <wsdl:part name="parameters" element="tns:GetResponse"/>
    </wsdl:message>
    <wsdl:message name="GetResponse_Headers">
        <wsdl:part xmlns:q2="urn:api.ecm.opentext.com" name="OTAuthentication" element="q2:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="GetChildrenRequest">
        <wsdl:part name="parameters" element="tns:GetChildren"/>
    </wsdl:message>
    <wsdl:message name="GetChildrenRequest_Headers">
        <wsdl:part xmlns:q3="urn:api.ecm.opentext.com" name="OTAuthentication" element="q3:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="GetChildrenResponse">
        <wsdl:part name="parameters" element="tns:GetChildrenResponse"/>
    </wsdl:message>
    <wsdl:message name="GetChildrenResponse_Headers">
        <wsdl:part xmlns:q4="urn:api.ecm.opentext.com" name="OTAuthentication" element="q4:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="GetHelpRequest">
        <wsdl:part name="parameters" element="tns:GetHelp"/>
    </wsdl:message>
    <wsdl:message name="GetHelpRequest_Headers">
        <wsdl:part xmlns:q5="urn:api.ecm.opentext.com" name="OTAuthentication" element="q5:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="GetHelpResponse">
        <wsdl:part name="parameters" element="tns:GetHelpResponse"/>
    </wsdl:message>
    <wsdl:message name="GetHelpResponse_Headers">
        <wsdl:part xmlns:q6="urn:api.ecm.opentext.com" name="OTAuthentication" element="q6:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="SetRequest">
        <wsdl:part name="parameters" element="tns:Set"/>
    </wsdl:message>
    <wsdl:message name="SetRequest_Headers">
        <wsdl:part xmlns:q7="urn:api.ecm.opentext.com" name="OTAuthentication" element="q7:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="SetResponse">
        <wsdl:part name="parameters" element="tns:SetResponse"/>
    </wsdl:message>
    <wsdl:message name="SetResponse_Headers">
        <wsdl:part xmlns:q8="urn:api.ecm.opentext.com" name="OTAuthentication" element="q8:OTAuthentication"/>
    </wsdl:message>
    <wsdl:portType name="ConfigService">
        <wsdl:operation name="Get">
            <wsdl:input wsaw:Action="urn:LesConfig.service.livelink.opentext.com/Get" name="GetRequest"
                        message="tns:GetRequest"/>
            <wsdl:output wsaw:Action="urn:LesConfig.service.livelink.opentext.com/ConfigService/GetResponse"
                         name="GetResponse" message="tns:GetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetChildren">
            <wsdl:input wsaw:Action="urn:LesConfig.service.livelink.opentext.com/GetChildren" name="GetChildrenRequest"
                        message="tns:GetChildrenRequest"/>
            <wsdl:output wsaw:Action="urn:LesConfig.service.livelink.opentext.com/ConfigService/GetChildrenResponse"
                         name="GetChildrenResponse" message="tns:GetChildrenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetHelp">
            <wsdl:input wsaw:Action="urn:LesConfig.service.livelink.opentext.com/GetHelp" name="GetHelpRequest"
                        message="tns:GetHelpRequest"/>
            <wsdl:output wsaw:Action="urn:LesConfig.service.livelink.opentext.com/ConfigService/GetHelpResponse"
                         name="GetHelpResponse" message="tns:GetHelpResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Set">
            <wsdl:input wsaw:Action="urn:LesConfig.service.livelink.opentext.com/Set" name="SetRequest"
                        message="tns:SetRequest"/>
            <wsdl:output wsaw:Action="urn:LesConfig.service.livelink.opentext.com/ConfigService/SetResponse"
                         name="SetResponse" message="tns:SetResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_ConfigService" type="tns:ConfigService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Get">
            <soap:operation soapAction="urn:LesConfig.service.livelink.opentext.com/Get" style="document"/>
            <wsdl:input name="GetRequest">
                <soap:header message="tns:GetRequest_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetResponse">
                <soap:header message="tns:GetResponse_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetChildren">
            <soap:operation soapAction="urn:LesConfig.service.livelink.opentext.com/GetChildren" style="document"/>
            <wsdl:input name="GetChildrenRequest">
                <soap:header message="tns:GetChildrenRequest_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetChildrenResponse">
                <soap:header message="tns:GetChildrenResponse_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetHelp">
            <soap:operation soapAction="urn:LesConfig.service.livelink.opentext.com/GetHelp" style="document"/>
            <wsdl:input name="GetHelpRequest">
                <soap:header message="tns:GetHelpRequest_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetHelpResponse">
                <soap:header message="tns:GetHelpResponse_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Set">
            <soap:operation soapAction="urn:LesConfig.service.livelink.opentext.com/Set" style="document"/>
            <wsdl:input name="SetRequest">
                <soap:header message="tns:SetRequest_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SetResponse">
                <soap:header message="tns:SetResponse_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConfigService">
        <wsdl:port name="BasicHttpBinding_ConfigService" binding="tns:BasicHttpBinding_ConfigService">
            <soap:address location="http://aw-dev-cs1.appworks.dev/cws/ConfigService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>