ContentServer/content_server_10_5/service/contentServer.webServices/cs-index-service-ws/src/main/resources/IndexService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="urn:SearchServices.service.livelink.opentext.com"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="IndexService"
                  targetNamespace="urn:SearchServices.service.livelink.opentext.com">
    <wsdl:types>
        <xsd:schema targetNamespace="urn:SearchServices.service.livelink.opentext.com/Imports">
            <xsd:import schemaLocation="http://aw-dev-cs1.appworks.dev/cws/IndexService.svc?xsd=xsd0"
                        namespace="urn:SearchServices.service.livelink.opentext.com"/>
            <xsd:import schemaLocation="http://aw-dev-cs1.appworks.dev/cws/IndexService.svc?xsd=xsd1"
                        namespace="urn:api.ecm.opentext.com"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ExtractObjectsRequest">
        <wsdl:part name="parameters" element="tns:ExtractObjects"/>
    </wsdl:message>
    <wsdl:message name="ExtractObjectsRequest_Headers">
        <wsdl:part xmlns:q1="urn:api.ecm.opentext.com" name="OTAuthentication" element="q1:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="ExtractObjectsResponse">
        <wsdl:part name="parameters" element="tns:ExtractObjectsResponse"/>
    </wsdl:message>
    <wsdl:message name="ExtractObjectsResponse_Headers">
        <wsdl:part xmlns:q2="urn:api.ecm.opentext.com" name="OTAuthentication" element="q2:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="GetObjectsInDateRangeRequest">
        <wsdl:part name="parameters" element="tns:GetObjectsInDateRange"/>
    </wsdl:message>
    <wsdl:message name="GetObjectsInDateRangeRequest_Headers">
        <wsdl:part xmlns:q3="urn:api.ecm.opentext.com" name="OTAuthentication" element="q3:OTAuthentication"/>
    </wsdl:message>
    <wsdl:message name="GetObjectsInDateRangeResponse">
        <wsdl:part name="parameters" element="tns:GetObjectsInDateRangeResponse"/>
    </wsdl:message>
    <wsdl:message name="GetObjectsInDateRangeResponse_Headers">
        <wsdl:part xmlns:q4="urn:api.ecm.opentext.com" name="OTAuthentication" element="q4:OTAuthentication"/>
    </wsdl:message>
    <wsdl:portType name="IndexService">
        <wsdl:operation name="ExtractObjects">
            <wsdl:input wsaw:Action="urn:SearchServices.service.livelink.opentext.com/ExtractObjects"
                        name="ExtractObjectsRequest" message="tns:ExtractObjectsRequest"/>
            <wsdl:output
                    wsaw:Action="urn:SearchServices.service.livelink.opentext.com/IndexService/ExtractObjectsResponse"
                    name="ExtractObjectsResponse" message="tns:ExtractObjectsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetObjectsInDateRange">
            <wsdl:input wsaw:Action="urn:SearchServices.service.livelink.opentext.com/GetObjectsInDateRange"
                        name="GetObjectsInDateRangeRequest" message="tns:GetObjectsInDateRangeRequest"/>
            <wsdl:output
                    wsaw:Action="urn:SearchServices.service.livelink.opentext.com/IndexService/GetObjectsInDateRangeResponse"
                    name="GetObjectsInDateRangeResponse" message="tns:GetObjectsInDateRangeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IndexService" type="tns:IndexService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ExtractObjects">
            <soap:operation soapAction="urn:SearchServices.service.livelink.opentext.com/ExtractObjects"
                            style="document"/>
            <wsdl:input name="ExtractObjectsRequest">
                <soap:header message="tns:ExtractObjectsRequest_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ExtractObjectsResponse">
                <soap:header message="tns:ExtractObjectsResponse_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetObjectsInDateRange">
            <soap:operation soapAction="urn:SearchServices.service.livelink.opentext.com/GetObjectsInDateRange"
                            style="document"/>
            <wsdl:input name="GetObjectsInDateRangeRequest">
                <soap:header message="tns:GetObjectsInDateRangeRequest_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetObjectsInDateRangeResponse">
                <soap:header message="tns:GetObjectsInDateRangeResponse_Headers" part="OTAuthentication" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IndexService">
        <wsdl:port name="BasicHttpBinding_IndexService" binding="tns:BasicHttpBinding_IndexService">
            <soap:address location="http://aw-dev-cs1.appworks.dev/cws/IndexService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>